@charset "utf-8";
body  {
	color: black;
	/*
    background: url(http://www.guiasnintendo.com/0_background/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    */
	font-size: 13px;
	/* 	background: #303646;*/
	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuracin predeterminada de los diversos navegadores */
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
    background: url(images/catsearch.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: auto 100%; */
}	
	



p             { font-size: 13px; font-family: Arial }
th {
	text-align: center;
}
td            { font-size: 13px;
				font-family: Arial;
				text-align: center;	
				
}
tr td:nth-child(5), tr td:nth-child(6), tr th:nth-child(5), tr th:nth-child(6) {
	text-align: left; /* última y penúltima fila */
	padding-left: 10px;
}
a:link        { color: #00f; text-decoration: underline }
a:visited     { color: #800080; text-decoration: underline }
a:hover       { color: #f00; text-decoration: none }
.titulo  	  { color: #006400 ; font-weight: bold; font-style: italic; }
.blanco 	  { color: #FFF;}
.rojo	      { color: #ff0000;}
.naranja      { color: #d47911;}
.verde  	  { color: #006400;}
.azul  	      { color: #0000FF}
.azul2 	      { color: #0000a0}
.morado       {	color: #cc00ff}


#container {
	margin: auto;
	position: relative;
}





/* BEGIN */
p {
    font-size: 18px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
	padding: 15px 32px;
	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 20px 10px 20px 0px;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    -webkit-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);


  }

 .button1 {
    background-color: rgb(83, 190, 87);
    -moz-box-shadow: 3px  4px 0px 0px #00AF50;
    -webkit-box-shadow: 3px  4px 0px 0px #00AF50;
    box-shadow: 3px 4px 0px 0px #00AF50;
    border: 1px solid rgb(0, 199, 90);
 }
 .button2 {
    background-color: #008CBA;
    -moz-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    -webkit-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    border: 1px solid rgb(0, 158, 211);
 }
 .button3 {
    background-color: #f44336;
 } 
 .button4 {
    background-color: #e7e7e7; 
    color: black;
 } 
 .button5 {
    background-color: #555555;
 } 

  /* END */


/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {

    body {
        background-size:  700px ;
    }
} */
.limiter {
    width: 1366px;
    margin: 0 auto;
    padding: 20px;
  }

tbody {
  font-size: 15px;
}
.tabla-bichos {
  display: none;
}


@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	  color: blue;
	  background-size: 600px 100%;
	}
	#container {
		width: 100%;
	}

	.limiter {
		width: 100%;

	}
	#imagen-peinados img {
		width: 85%;
	}

	.button {
		padding: 10px 10px;
		font-size: 18px;
	}
  }